# VCS
.git
.gitignore

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg-info/
.eggs/

# Environments
.venv/
venv/
env/

# Build outputs
build/
dist/
.wheelhouse/

# Tests and local artifacts
.pytest_cache/
.coverage
htmlcov/

# OS
.DS_Store

# Misc
*.log
